<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<planets>
<settings>
<GUI.Width type="i">1024</GUI.Width>
<MusicVolume type="f">0.8</MusicVolume>
<GUI.CPUSync type="b">false</GUI.CPUSync>
<GUI.FrameLimit type="i">60</GUI.FrameLimit>
<loglvl type="s">INFO</loglvl>
<SoundVolume type="f">1.0</SoundVolume>
<GUI.ShowFPS type="b">true</GUI.ShowFPS>
<GUI.VSync type="b">false</GUI.VSync>
<GUI.Height type="i">768</GUI.Height>
<GUI.Fullscreen type="b">false</GUI.Fullscreen>
<PhysicsStep type="f">0.1</PhysicsStep>
</settings>
</planets>
